@charset "utf-8";
/* CSS Document */
@font-face
{
	font-family: "Khmer OS";
	src: url(../fonts/KhmerOS.eot)
	src: local('Khmer OS') url(../fonts/KhmerOS.ttf)('truetype');
}

body
{
	font-family: "Khmer OS";
}