.cart,.view-product h3,.item-control i ,a#scrollUp,.recommended-item-control i,.searchform button,.nav-tabs  li.active  a, .nav-tabs  li.active  a:hover, .nav-tabs  li.active  a:focus{
			background-color: rgb(78, 156, 80);
		}
		.product-information span span,.left-sidebar h2, .brands_products h2,.productinfo h2,h2.title,.mainmenu ul li a:hover, .mainmenu ul li a.active, .shop-menu ul li a.active,.shop-menu ul li a:hover,.companyinfo h2  span,.footer-bottom p span a{
			color:rgb(78, 156, 80);
		}
		button.add-to-cart:hover,.searchform button:hover,.category-tab ul li a:hover,.category-tab ul li a:hover,.category-tab ul{
			background-color:  rgb(78, 156, 80);
		}
		
		#similar-product img{
			width:85px;
			height: 84px;
		}
		.category-tab ul{
			border-bottom: 1px solid  rgb(78, 156, 80);
		}

		.nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus{
			background-color:  #009688;
		}
		.form-group{
			margin-bottom:25px;
		}