@charset "utf-8";
/* CSS Document */
@font-face
{
	font-family: "Khmer OS";
	src: url(KhmerOS.eot);
	src: local('Khmer OS') url(KhmerOS.ttf) format('truetype');
}

body
{
	font-family: "Khmer OS";
}