
.carousel-indicators li.active,.recommended-item-control i,a#scrollUp,.add-to-cart:hover,.item button:hover,.item button,.searchform button:hover, .searchform button:focus,.searchform button{
        background:rgb(78, 156, 80);
    }
    .fa:hover,.shop-menu ul li a:hover,.mainmenu ul li a:hover, .mainmenu ul li a.active, .shop-menu ul li a.active,.item h1 span,
    .productinfo h2,.left-sidebar h2, .brands_products h2,h2.title,
    .choose ul li a:hover,#editor,.single-widget ul li a:hover,.footer-bottom p span a,
    .companyinfo h2 span{
        color:rgb(78, 156, 80);
    }
   .or,.btn, .btn:focus,.login-form form button, .signup-form form button,.video-gallery a:hover .overlay-icon,.get{
   		background:rgb(78, 156, 80);
   }
   .or:hover{
   	background: #F0F0E9;
   	color:gray;
   }



   .bg h2.title,#cart_items .cart_info .cart_total_price,#cart_items .cart_info .cart_price p,.companyinfo h2 span{
        color:rgb(78, 156, 80);
      }
      .table thead tr td,.searchform button:hover, .searchform button:focus,.searchform button,.video-gallery a:hover .overlay-icon,.cart_delete a:hover{
        background: rgb(78, 156, 80);
      }